.first-section__height {
    height: 250px;
}

.s__pad {
    padding: 35px 0 30px 0;
}

.first-section__pad h1, h5 {
    text-align: left;
}
.search-flex {
    display: flex;
}

.search-flex__first {
    border: 1px solid #000000;
    flex-basis: 30%;
}

.search-flex__sec {
    border: 1px solid #000000;
    flex-basis: 70%;
}