.navbar {
    background-color: #383838;
    color: #ffffff;
    display: flex;
    padding: 10px 35px;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-family: 'Source Sans Pro', sans-serif !important;
}

.navbar-center li {
    padding-left: 10px;
    padding-right: 10px;
}

.active a,
.color-txt {
    color: #D35266 !important;
}

.navbar-right {
    position: absolute;
    right: 5%;
    transform: translatex(-50%);
    font-family: 'Source Sans Pro', sans-serif !important;
}

.btn-ad {
    background-color: #D35266;
    color: #ffffff;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.f-awe {
    color: #383838;
}

.btn-ad:hover {
    color: #ffffff;
}

.first-section {
    background-color: #D35266;
    background-position: 100% 100%;
    height: 350px;
    width: 100%;
}

.first-section__pad {
    color: #ffffff;
    text-align: center;
    width: 80%;
    padding: 70px 0 30px 0;
    margin: auto;
}

.first-section__pad h1 {
    padding-bottom: 10px;
    font-family: 60px 'PT Sans', sans-serif;
}

.custom-select select {
    border: none;
}

.select-result,
.search-input input {
    height: 45px !important;
}
.select-result,
.search-input input {
    border-radius: 0;
}

.btn-search {
    background-color: #383838;
    border: none;
    padding-top: 8px;
    height: 45px;
}

.hdr-font {
    font-family: 'PT Sans', sans-serif;
}
.txt-font {
    font-family: 'Source Sans Pro', sans-serif;
}
.hdr-ads {
    padding-left: 12.8%;
    color: #888888;
}
.third-txt {
    font-weight: 600;
    line-height: 1.6;
}

.second-section__bg {
    background-color: #ffffff;
    padding: 40px 0;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 10px auto;
    width: 100%;
}

.second-section_icon {
    font-size: 50px; 
    align-self: center; 
}

.inner-content__img {
    padding-right: 0;
}

.inner-content__txt {
    padding-left: 0;
    padding-top: 5px;
}

.slide-img {
    width: 100%;
    height: 300px;
}

.third-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0;
}

.third-section__container {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #888888;
}

.third-section__txt {
    padding: 2px 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.third-section__txt img {
    margin: auto;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 25px;
}

.third-section__pad {
    margin-bottom: 40px;
    padding: 15px 25px;
}

.third-section__hdr img {
    padding: 10px 10px 10px 0;
    width: 35px;
}

.third-section__wid {
    width: 100%;
}
.third-section__hdr {  
    font: bold 19px 'PT Sans', sans-serif;
    padding-left: 10px;
}

.third-section__hr {
    border-bottom: 1px solid #b1a8a8;
    border-bottom-color: #383838 !important;
    margin: 10px 5px;
}

.third-section__location p {
    margin-top: 5px;
}

.display {
    display: none;
}

.footer {
    /* width: 100%; */
    background-color: #ffffff;
    /* padding: 25px; */
    margin-top: 70px;
}

.ft-footer__flex {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.ft-footer-dir {
    flex-direction: column;
}
.ft-footer__col {
    flex-direction: row;
}

.inner-footer1,
.inner-footer2 {
    width: 100%;
}

.inner-footer1 p {
    line-height: 1.6;
}

.footer-hr {
    width: 100px;
    border-bottom: 2px solid #D35266;
}
.footer-list li {
    list-style-type: none;
    list-style-position: inside;
    line-height: 1.6;
}
.footer-list li a,
.footer-hdr a {
    color: #383838;
}
.bg-footer {
    background-color: #383838;
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 5px;
}
.btn-search a:hover {
    text-decoration: none;
    color: #ffffff;
    transition: color .4s;
}
.bg-footer a:hover {
    text-decoration: none;
    color: #ffffff;
}
.footer-list li a:hover,
.footer-hdr a:hover {
    text-decoration: none;
    color: #D35266;
    font-weight: 600;
    transition: color .4s;
}

/*===========================================
Small devices (landscape phones, 576px and up)  
=============================================*/
@media (min-width: 576px) { 
    .navbar-center li {
        padding-left: 0;
        padding-right: 0;
    }

    .second-section {
        display: flex;
        flex-direction: column;
    }
    .third-section__container {
        width: 100%;
    }
}

/*===========================================
Medium devices (tablets, 768px and up) 
=============================================*/
@media (min-width: 768px) {
    .select-result {
        width: 150px;
        
    }

    .second-section {
        display: flex;
        flex-direction: row;
    }

    .inner-content__img {
        width: 450px;
        padding-right: 10px;
    }
    
    .inner-content__txt {
        width: 550px;
        padding-left: 10px;
    }

    .third-section__container {
        width: calc(50% - 10px);
        margin: 5px;
    }
    
}

/*=========================================== 
Large devices (desktops, 992px and up) 
=============================================*/
@media (min-width: 992px) {
    .second-section {
        display: flex;
        flex-direction: row;
    }
  
    .third-section__container {
        width: calc(25% - 10px);
        margin: 5px;
    }
}

/*============================================ 
Extra large devices (large desktops, 1200px and up) 
==============================================*/
@media (min-width: 1200px) {
    .second-section {
        display: flex;
        flex-direction: row;
        width: 85%;
    }

    .inner-content__img {
        width: 450px;
        padding-right: 10px;
    }
    
    .inner-content__txt {
        width: 550px;
        padding-left: 10px;
    }
    .ft-footer__col,
    .ft-footer-dir {
        flex-direction: row;
    }

    /* .inner-footer1 {
        width: 35%;
    }
    .inner-footer2 {
        width: 30%;
    }
    .inner-footer3 {
        width: 20%;
        padding-left: 35px;
    }
    .inner-footer4 {
        width: 15%;
    } */
}