.navbar {
  background-color: #383838;
  color: #fff;
}

.navbar-brand {
  font-size: 30px;
}

.active a,
.color-txt {
  color: #d35266 !important;
}

.btn-ad {
  background-color: #d35266;
  color: #fff;
}

.flexbox__flex {
  display: flex;
}

.flexbox {
  justify-content: space-between;
}

.f-awe,
.f-awe:hover {
  color: #383838;
}

.fontawe-nn {
  font-size: 10px;
  padding: 2px 4px;
  border: 2px solid #383838;
  border-radius: 5px;
}

.btn-ad:hover {
  color: #fff;
}

.first-section {
  background-color: #d35266;
  background-size: 100% 100%;
  height: 350px;
  width: 100%;
  position: relative;
}

.first-section__pad {
  color: #fff;
  text-align: center;
  width: 80%;
  padding: 70px 0 30px 0;
  margin: auto;
}

.first-section__pad h1 {
  padding-bottom: 10px;
  font-family: 60px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.custom-select select {
  border: none;
}

.select-result,
.search-input input {
  border-radius: 0;
  height: 45px !important;
}

.btn-search {
  background-color: #383838;
  border: none;
  padding-top: 8px;
  height: 45px;
}

.hdr-font {
  font-family: Helvetica Neue, Arial, sans-serif;
}

.txt-font {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.hdr-ads {
  padding-left: 12.8%;
  color: #888;
}

.third-txt {
  font-weight: 600;
  line-height: 1.6;
}

.second-section__bg {
  background-color: #fff;
  padding: 40px 0;
}

.second-section {
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin: 10px auto;
  width: 100%;
}

.second-section_icon {
  font-size: 50px;
  align-self: center;
}

.inner-content__img {
  padding-right: 0;
}

.inner-content__txt {
  margin-top: 15px;
  padding: 5px 25px 1px 25px;
}

.slide-img {
  width: 100%;
  height: 300px;
  padding: 0 10px;
}

.third-section {
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
}

.third-section__container {
  width: 100%;
  margin-top: 5px;
  border: 1px solid #888;
  background-color: #fff;
  -webkit-box-shadow: -30px -16px 37px -55px rgba(56, 56, 56, 1);
  -moz-box-shadow: -30px -16px 37px -55px rgba(56, 56, 56, 1);
  box-shadow: -30px -16px 37px -55px rgba(56, 56, 56, 1);
}

.third-section__container:hover {
  border-radius: 6%;
  transition: all 1s ease-out;
}

.third-section__txt {
  padding: 10px 15px;
  flex-direction: column;
}

.third-section__txt img {
  margin: auto;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 25px;
}

.third-section__pad {
  margin-bottom: 40px;
  padding: 15px 25px;
}

.third-section__hdr img {
  padding: 10px 10px 10px 0;
  width: 35px;
}

.third-section__wid {
  width: 100%;
}

.third-section__hdr {
  font: bold 19px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding-left: 10px;
}

.third-section__location p {
  margin-top: 5px;
}

.display {
  display: none;
}

.footer {
  background-color: #fff;
  margin-top: 70px;
}

.ft-footer__flex {
  justify-content: space-between;
  margin-top: 10px;
}

.ft-footer-dir {
  flex-direction: column;
}

.ft-footer__col {
  flex-direction: row;
}

.footer-hr {
  width: 100px;
  border-bottom: 2px solid #d35266;
}

.footer-list li {
  list-style-type: none;
  list-style-position: inside;
  line-height: 1.6;
}

.inner-content__txt a,
.footer-hdr a,
.footer-list li a {
  color: #383838;
}

.bg-footer {
  background-color: #383838;
  color: #fff;
  padding: 2px 8px;
  border-radius: 1px;
}

.btn-search a:hover {
  color: #fff;
  transition: color 1s;
}

.bg-footer a:hover {
  color: #fff;
}

.footer-hdr a:hover,
.footer-list li a:hover {
  color: #d35266;
  font-weight: 600;
  transition: color 0.4s;
}

/* ===========================================
Small devices (landscape phones, 576px and up)
============================================= */
@media (min-width: 576px) {
  .second-section {
    flex-direction: column;
  }

  .third-section__container {
    width: 100%;
  }

  .img-wid {
    height: 260px;
  }

  .slide-img {
    height: 300px;
    padding: 0 10px;
  }
}

/* ===========================================
Medium devices (tablets, 768px and up)
============================================= */
@media (min-width: 768px) {
  .select-result {
    width: 150px;
  }

  .second-section {
    flex-direction: row;
  }

  .inner-content__img {
    width: 450px;
    padding-right: 10px;
  }

  .inner-content__txt {
    width: 550px;
    margin-top: 0;
    padding-left: 10px;
  }

  .third-section__container {
    width: calc(50% - 10px);
    margin: 5px;
  }

  .img-wid {
    height: 240px;
  }
}

/* ===========================================
Large devices (desktops, 992px and up)
============================================= */
@media (min-width: 992px) {
  .second-section {
    flex-direction: row;
  }

  .third-section__container {
    width: calc(25% - 4px);
    margin: 2px;
  }
}

/* ============================================
Extra large devices (large desktops, 1200px and up)
============================================== */
@media (min-width: 1200px) {
  .second-section {
    flex-direction: row;
    width: 85%;
  }

  .inner-content__img {
    width: 450px;
  }

  .slide-img {
    height: 325px;
    padding: 0;
  }

  .inner-content__txt {
    width: 550px;
    margin-top: 1px;
    padding: 1px 1px 1px 10px;
  }

  .ft-footer__col,
  .ft-footer-dir {
    flex-direction: row;
  }
}
